[submodule "third_party/webserver"]
	path = third_party/webserver
	url = https://github.com/star-cs/webserver.git
[submodule "third_party/fastdfs"]
	path = third_party/fastdfs
	url = https://github.com/happyfish100/fastdfs.git
[submodule "third_party/faiss"]
	path = third_party/faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "third_party/minio"]
	path = third_party/minio
	url = https://github.com/minio/minio-cpp.git
